<%- include("../_partial/_header") -%>

    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">All Inquiry</h2>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
            <div class="form-group breadcrumb-right">
                <div class="dropdown">
                    <a href="/inquiry/add-inquiry">
                        <button type="button" class="btn btn-outline-primary waves-effect">Add Inquiry</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Advanced Search -->
    <section id="advanced-search-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <!-- <h4 class="card-title">Advanced Search</h4> -->
                    </div>
                    <div class="card-datatable">
                        <table class="dt-advanced-search table">
                            <thead>
                                <tr>
                                    <th>DATE</th>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>PURPOSE</th>
                                    <th>COUNTRY</th>
                                    <th>COACHING</th>
                                    <th>ASSIGN TO</th>
                                    <th>ADDED BY</th>
                                    <th>STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>1.</td>
                                </tr>
                                <tr>
                                    <td>10.</td>
                                    <td>10.</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>1.</td>
                                </tr>
                                <tr>
                                    <td>10.</td>
                                    <td>10.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>DATE</th>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>PURPOSE</th>
                                    <th>COUNTRY</th>
                                    <th>COACHING</th>
                                    <th>ASSIGN TO</th>
                                    <th>ADDED BY</th>
                                    <th>STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Advanced Search -->

    <%- include("../_partial/_footer") -%>